* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
@media screen and (max-width: 700px) {
 .footer {top:98%;left:50%;transform:translate(-50%,-98%);}
}
@media screen and (min-width: 701px) {
 .footer {top:99%;left:50%;transform:translate(-50%,-99%);}
}
html {
 height: 100%;
 width: 100%;
 background-color: #4C8383;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
}
body {
 font-family: Verdana, sans-serif;
}
.centerlogo {
 top: 40%;
 left: 50%;
 bottom: 0;
 right: 0;
 transform: translate(-50%, -40%);
 position: absolute;
 max-width: 75vw;
 max-height: 40vh;
}
button.soc {
 display: flex;
 border-radius: 100px;
 background: #2C5354;
 border: 0px solid #000000;
 padding: 15px;
 text-align: center;
 margin: 0 0.5vw;
}
button.soc:hover {
 background: #4C8383;
 padding: 10px;
 border: 5px solid #2C5354;
 cursor:pointer;
}
.socbar {
 display: flex;
 position: absolute;
 top: 85%;
 left: 50%;
 transform: translate(-50%, -85%);
 padding-left: 0;
 margin: 0 0.25vw;
 justify-content: evenly;
}
.socbar:after {
 content: "";
 clear: both;
 display: table;
}
li {
 display: inline-block;
}
.footer {
 width:100%;
 bottom: 0;
 display:flex;
 position: absolute;
 align-items: center;
 justify-content: center;
}
.bottomright {
 position: absolute;
 bottom: 0;
 right: 0;
 margin: 0;
}
